@model Project_sem_3.Models.ResultDetail

<h2 class="mt-3 mb-4">Detail of Result Detail</h2>

<div class="card p-3">
    <dl class="row">
        <dt class="col-sm-3">Result</dt>
        <dd class="col-sm-9">@Model.ResultId</dd>

        <dt class="col-sm-3">Question</dt>
        <dd class="col-sm-9">@Model.Question?.QuestionTitle</dd>

        <dt class="col-sm-3">Answer</dt>
        <dd class="col-sm-9">@Model.Answer?.AnswerContent</dd>

        <dt class="col-sm-3">Mark</dt>
        <dd class="col-sm-9">@Model.Mark</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back</a>
